.NavBar {
  background-color: #D8D7D7;
  width: 100%;
  margin: 4em auto;

  .items {
    list-style-type: none;
    padding: 0;
    justify-content: space-between;
    width: 25em;
    margin: 0 0 0 auto;

    li {
      display: inline-block;
      margin: 0 1em 0 1em;
      vertical-align: middle;
    }

    .user-full-name {
      font-size: 24px;
    }
  }
}